
.welcome {
    padding-top: 20px;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    height: 125px;
}


#slideshow DIV IMG {
    display: inline-block;
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;

}

#slideshow h2 {
    padding: 1em;
    position: absolute;
    font-size: 4em;
    color: white;
    text-shadow: 2px 2px black;
    font-family: 'Graduate', cursive;
}
.topleft{
    top: 0;
}
.bottomright {
    bottom: 0;
    right: 0;
}

#slideshowContainer {
    position: ;
    z-index: 1;
}
#slideshow {
    position:relative;
    height:400px;
    margin-top: 3em;
    z-index:0;
}

#slideshow DIV {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
    height: 400px;
    background-color: #FFF;
}

#slideshow DIV.active {
    z-index:10;
    opacity:1.0;
}

#slideshow DIV.last-active {
    z-index:9;
}

/*

#slide img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    object-fit: none;
    object-position: center; 
    height: 300px;
    width: 100%
}

#slideshow {
    position:relative;
    height:350px;
}

#slideshow DIV {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
}

#slideshow DIV.active {
    z-index:10;
    opacity:1.0;
}

#slideshow DIV.last-active {
    z-index:9;
}

/*old slideshow
#slide{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    object-fit: none;
    object-position: center; 
    height: 300px;
    width: 100%
}
