@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:900);



@media (min-width: 992px){
    body {
        background-image: url('http://i.imgur.com/4mJ1rf2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    /*formatting for the uw logo*/
    #purplestrip h1 {
        position: relative;
        top: -150px;
        left: 170px;
        font-size: 35px;
        text-shadow: 2px 2px #2A115C;
    }
    #purplestrip h2 {
        position: relative;
        font-size: 20px;
        top: -160px;
        left: 200px;
        line-height: 1px;
    }
    #purplestrip h3 {
        position: relative;
        font-size: 16px;
        top: -160px;
        left: 200px;
        line-height: 1px;
    }

    #w-Logo img {
        position: relative;
        top: -20px;
        width: 200px;
    }

    .heading {
        color: white;
        height: 100px;
        text-shadow: 2px 2px black;
        padding-top: 20px;
        padding-left: 10px;
        font-size: 60px; 
        font-weight: bold;
    }
    .headingContainer {
        background-size: cover;
        background-image: url('http://www.washington.edu/wp-content/themes/uw-2014/assets/headers/fall-leaves.jpg');
    }
    .subheading {
        padding-left: 0px;
        text-align: center;
        font-size: 40px;
    }

    header h1 {
        font-size: 45px;
    }

}

@media (max-width: 991px) {

    header {
        height: 50px;
    }

    .heading {
        display: none;
    }
    /*formatting for the uw logo*/
    #purplestrip h1 {
        position: relative;
        top: -110px;
        left: 120px;
        font-size: 20px;
        text-shadow: 2px 2px #2A115C;
    }
    #purplestrip h2 {
        position: relative;
        font-size: 15px;
        top: -123px;
        left: 140px;
        line-height: 1px;*/
    }
    #purplestrip h3 {
        display:none;
    }

    #w-Logo img {
        position: relative;
        top: -15px;
        width: 140px;
    }

}


header {
    background-color: #4B2E83;
    color: white;
    max-height: 130px;
    padding-top: 22px;
    padding-bottom: 5em;
    padding-left: 1em;
    border-bottom: 5px;
    border-bottom-color: #391C73;
    border-bottom-style: solid;
    box-shadow: 0px 2px 5px 0px #391C73;
}


article {
    background-color: rgba(255, 255, 255, 0.95);
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    font-family:'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 300;
}

.info {
    padding: 2em;
    padding-bottom: 5em;
}

.heading {
    font-family: "Source Sans Pro", "sans-serif";
}

footer {
    padding-top: 1em;
    padding-right: 1em;
    text-align: right;
    background-color: #4B2E83;
    color: white;
    bottom: 0;
    height: 50px;
    padding-bottom: 60px;
}



/*Navigation Bar*/

#navBar {
    margin-bottom: 0px;
}
#navBar a {
    color: #391C73;
}

#navBar a:hover {
    color: #b7a57a;
}

/*creates a shadow around dropdown & a solid purple bar on top of dropdown*/
#navBar ul li ul{
    border-top: 2px;
    border-top-color: #391C73;
    border-top-style: solid; 
}

#navBar ul ul li{
    background-color: white; 
    font-style: bold; 
    text-align: center;
    width: auto;
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 10px;
}

/*makes a solid gray bar every li item in drop down except last item*/
#navBar ul li ul li:not(:last-child){
    border-bottom-width: 2px;
    border-bottom-color: #E9E9E9;
    border-bottom-style: solid;
}

/*makes solid gold bar on right when li item is hovered in dropdown*/
#navBar ul li ul li a:hover {
    margin-left: 3px;
    border-right-style: solid;
    border-right-color: #b7a57a;
    border-right-width: 3px;
}


