@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

body {
    background-image: url('http://i.imgur.com/4mJ1rf2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


header {
    background-color: #4B2E83;
    color: white;
    height: 150px;
    padding-top: 22px;
    padding-bottom: 10px;
    padding-left: 1em;
    border-bottom: 5px;
    border-bottom-color: #391C73;
    border-bottom-style: solid;
}

/*.purplestrip h1{
    position: relative;
    font-size: 30px;
    top: -130px;
    left: 175px;

}*/

/*.purplestrip h2 {
    margin: 0px;
    position: relative;
    top: -130px;
    left: 175px;
    font-size: 20px;
}*/

/*.purplestrip h3 {
    position: relative;
    font-size: 18px;
    top: -150px;
    left: 200px;
}*/



article {
    background-color: rgba(255, 255, 255, 0.95);
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    font-family:'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 300;
}

main {
    padding: 1em;
}


header h1 {
    font-size: 45px;
}


footer {
    padding-top: 1em;
    padding-right: 1em;
    text-align: right;
    background-color: #4B2E83;
    color: white;
    bottom: 0;
    height: 50px;
    padding-bottom: 60px;
}


/*Navigation Bar*/

#nav {
    background-color: #BFBFBF;
}


#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}

#nav ul li {
    display: inline-block;
}


#nav ul li:hover {
    background-color: white;
    color: #F2F2F2;
}

#nav ul li a, a:visited {
    color: #6700A3;
    display: block;
    padding: 15px;
    text-decoration: none;
}

#nav ul li a:hover {
    color: #b7a57a;
    background-color: white;
}

#nav ul li:hover ul {
    display: block;
}

#nav ul ul {
    display: none;
    position: absolute;
    background-color: white;
}

#nav ul ul li{
    display: block;
    background-color: white;

}

/*creates a shadow around dropdown & a solid purple bar on top of dropdown*/
#nav ul li ul{
    box-shadow: 0px 1px 2px 0px #391C73;
    border-top: 2px;
    border-top-color: #391C73;
    border-top-style: solid; 
}

#nav ul ul li{
    background-color: white; 
    font-style: bold; 
    text-align: center;
    width: 160px;
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 10px;
}

/*makes a solid gray bar every li item in drop down except last item*/
#nav ul li ul li:not(:last-child){
    border-bottom-width: 2px;
    border-bottom-color: #E9E9E9;
    border-bottom-style: solid;
}

/*makes solid gold bar on right when li item is hovered in dropdown*/
#nav ul li ul li a:hover {
    margin-left: 3px;
    border-right-style: solid;
    border-right-color: #b7a57a;
    border-right-width: 3px;
}