
.quickLinks {
        
}

#sort {
    padding-bottom: 1em;
}
.sort-ui, .filter-ui {
    margin-bottom: 1em;
}

.cards {
    margin: 0;
    padding: 0;
}

.cards h2 {
    font-size: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #4B2E83;
}

.card {
    list-style: none;
    padding: 10px;
    margin-bottom: 0.5em;
    clear: both;
    height: 170px;
    position: relative;
    padding: 10px;
}

.card:hover {

    border-left-style: solid;
    border-left-color: #b7a57a;
    border-left-width: 3px;
    background-color: white;
    color: purple;
}


.card img {
    float: left;
    padding: 2px;
    max-width: 150px;
    max-height: 150px;
    margin-right: 10px;
}

.card h3 {
    font-size: 24px;
}

.card .title{
    font-size: 19px;
}

.card .office {
    font-size: 16px;
}

.card .details {
    padding-left: 170px;
}

.card .name,
.card .title,
.card p {
    margin-top: 0;
    margin-bottom: 0.25em;
}

.btn-1 {
    border: 3px solid #fff;
    color: #fff;
}

/* Button 1a */
.btn-1a:hover,
.btn-1a:active {
    color: #0e83cd;
    background: #fff;
}
