<!doctype html>
<html>
	<head>

		<title>IC Staff Members</title>
		<link rel="page icon" href="../img/wlogo.png">

		<link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="css/staffcss.css">

	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	</head>
	<body ng-app="StaffApp" ng-controller="StaffController">
		<article>
			<header id="purplestrip">
				<a id="w-Logo" href="http://uw.edu" title="University of Washington Home">
					<img src="../img/logo.png"></a>
				<h1>Instructional Center</h1>
				<h2>Office of Minority Affairs &amp; Diversity</h2>
				<h3>University of Washington</h3>
			</header>


	        <nav class="navbar navbar-default" role="navigation" id="navBar">
	         	<div class="navbar-header">
		            <button type="button" class="navbar-toggle" data-toggle="collapse" 
		               data-target="#navbar-collapse">
		               <span class="sr-only">Navigation</span>
		               <span class="icon-bar"></span>
		               <span class="icon-bar"></span>
		               <span class="icon-bar"></span>
		            </button>
	            	<a class="navbar-brand" href="../home.html">HOME</a>
	         	</div>
	         	<div class="collapse navbar-collapse" id="navbar-collapse">
	            	<ul class="nav navbar-nav">
	               	<li class="dropdown">
		                  <a href="../about.aboutus.html" class="dropdown-toggle" data-toggle="dropdown">
		                     ABOUT <b class="caret"></b>
		                  </a>
		                  <ul class="dropdown-menu">
		                     <li><a href="../about/aboutus.html">What is the IC?</a></li>
		                     <li><a href="../about/studentemployment.html">Employment</a></li>
		                  </ul>
		               </li>
		               <li class="dropdown">
		                  <a href="staff.html" class="dropdown-toggle" data-toggle="dropdown">
		                      STAFF<b class="caret"></b>
		                  </a>
		                  <ul class="dropdown-menu">
		                     <li><a href="staff.html">Directory</a></li>
		                  </ul>
		               </li>
		               <li class="dropdown">
		                  <a href="../Contact/contact.html" class="dropdown-toggle" data-toggle="dropdown">
		                      CONTACT / HOURS<b class="caret"></b>
		                  </a>
		                  <ul class="dropdown-menu">
		                     <li><a href="../Contact/contact.html">Contact Information</a></li>
		                     <li><a href="../Contact/building-hours.html">Building Hours</a></li>
		                     <li><a href="../Contact/program-hours.html">Program Hours</a></li>
		                  </ul>
		               </li>
		               <li class="dropdown">
		                  <a href="../resources/resources.html" class="dropdown-toggle" data-toggle="dropdown">
		                      RESOURCES<b class="caret"></b>
		                  </a>
		                  <ul class="dropdown-menu">
		                     <li><a href="../resources/resources.html">Student Resources</a></li>
		                  </ul>
		               </li>
		            </ul>
		         </div>
	     	 </nav>


			<div class="headingContainer"><div class="heading">Staff Directory</div></div>		

			<main class="container-fluid">

				<div class="searchFilter">
					<div class ="sort-ui">
						<span>Sort By:</span>
						<div class="btn-group">
							<button ng-class="{active: sortBy('department')}" ng-click="order='department'" type="button" class="btn btn-default">Department</button>
							<button ng-class="{active: sortBy('lastName')}" ng-click="order = 'lastName'" type="button" class="btn btn-default">Last Name</button>
							<button ng-class="{active: sortBy('firstName')}" ng-click="order = 'firstName'" type="button" class="btn btn-default">First Name</button>
						</div>
					</div>
				</div>

				<div class="filter-ui">
					<input type="search" class="form-control" placeholder="Search..." ng-model="search">
				</div>

				<div class="staffInfo">
					<ul class="cards">
						<div id="admin">
							<h2>Administration</h2>
							<li class="card" ng-repeat="current in admin | filter:search | orderBy:order">
								<img ng-src="{{current.picUrl}}" alt="picture of {{current.firstName}} {{current.lastName}}" />
								<div class="information">
									<h3 class="name">{{current.firstName}} {{current.lastName}}</h3>
									<p class="title">{{current.title}}</p>
									<p class="office" ngIf="{{current.office}}">{{current.office}}</p>
									<p class="email" ngIf="{{current.email}}"> <a href='mailto:{{current.email}}'>{{current.email}}</a></p>
								</div>
							</li>
						</div>

						<div id="bio">
							<h2>Biology Staff</h2>
							<li class="card" ng-repeat="current in biology | filter:search | orderBy:order">
								<img ng-src="{{current.picUrl}}" alt="picture of {{current.firstName}} {{current.lastName}}" />
								<div class="information">
									<h3 class="name">{{current.firstName}} {{current.lastName}}</h3>
									<p class="title">{{current.title}}</p>
									<p class="email" ngIf="{{current.email}}"><a href='mailto:{{current.email}}'>{{current.email}}</a></p>
								</div>
							</li>
						</div>

						<div id="chem">
							<h2>Chemistry Staff</h2>
							<li class="card" ng-repeat="current in chemistry | filter:search | orderBy:order">
								<img ng-src="{{current.picUrl}}" alt="picture of {{current.firstName}} {{current.lastName}}" />
								<div class="information">
									<h3 class="name">{{current.firstName}} {{current.lastName}}</h3>
									<p class="title">{{current.title}}</p>
									<p class="email" ngIf="{{current.email}}"><a href='mailto:{{current.email}}'>{{current.email}}</a></p>
								</div>
							</li>
						</div>

						<div id="math">
							<h2>Math Staff</h2>
							<li class="card" ng-repeat="current in math | filter:search | orderBy:order">
								<img ng-src="{{current.picUrl}}" alt="picture of {{current.firstName}} {{current.lastName}}" />
								<div class="information">
									<h3 class="name">{{current.firstName}} {{current.lastName}}</h3>
									<p class="title">{{current.title}}</p>
									<p class="email" ngIf="{{current.email}}"><a href='mailto:{{current.email}}'>{{current.email}}</a></p>
								</div>
							</li>
						</div>

						<div id="physEng">
							<h2>Physics and Engineering Staff</h2>
							<li class="card" ng-repeat="current in physEngin | filter:search | orderBy:order">
								<img ng-src="{{current.picUrl}}" alt="picture of {{current.firstName}} {{current.lastName}}" />
								<div class="information">
									<h3 class="name">{{current.firstName}} {{current.lastName}}</h3>
									<p class="title">{{current.title}}</p>
									<p class="email" ngIf="{{current.email}}"><a href='mailto:{{current.email}}'>{{current.email}}</a></p>
								</div>
							</li>
						</div>

						<div id="psy">
							<h2>Psychology Staff</h2>
							<li class="card" ng-repeat="current in psychology | filter:search | orderBy:order">
								<img ng-src="{{current.picUrl}}" alt="picture of {{current.firstName}} {{current.lastName}}" />
								<div class="information">
									<h3 class="name">{{current.firstName}} {{current.lastName}}</h3>
									<p class="title">{{current.title}}</p>
									<p class="email" ngIf="{{current.email}}"><a href='mailto:{{current.email}}'>{{current.email}}</a></p>
								</div>
							</li>
						</div>

						<div id="soc">
							<h2>Sociology Staff</h2>
							<li class="card" ng-repeat="current in sociology | filter:search | orderBy:order">
								<img ng-src="{{current.picUrl}}" alt="picture of {{current.firstName}} {{current.lastName}}" />
								<div class="information">
									<h3 class="name">{{current.firstName}} {{current.lastName}}</h3>
									<p class="title">{{current.title}}</p>
									<p class="email" ngIf="{{current.email}}"><a href='mailto:{{current.email}}'>{{current.email}}</a></p>
								</div>
							</li>
						</div>

						<div id="writingStaff">
							<h2>Writing Staff</h2>
							<li class="card" ng-repeat="current in writing | filter:search | orderBy:order">
								<img ng-src="{{current.picUrl}}" alt="picture of {{current.firstName}} {{current.lastName}}" />
								<div class="information">
									<h3 class="name">{{current.firstName}} {{current.lastName}}</h3>
									<p class="title">{{current.title}}</p>
									<p class="email" ngIf="{{current.email}}"><a href='mailto:{{current.email}}'>{{current.email}}</a></p>
								</div>
							</li>
						</div>

					</ul>
				</div>
			</main>

		    <footer>
		        <p>&#169; Instructional Center</p>
		        <p><a href="#top"> Back to Top &uarr;</a></p>
		    </footer>

		</article>
		<script src="js/staff.js"></script>
		<script src="js/staffapp.js"></script>
		<script src="https://code.jquery.com/jquery-2.1.1.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	</body>
</html>