@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);



body {
    background-image: url('http://i.imgur.com/4mJ1rf2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.purplestrip {
    background-color: #4B2E83;
    color: white;
    height: 90px;
    padding-top: 22px;
    padding-bottom: 5em;
    padding-left: 1em;
    border-bottom: 5px;
    border-bottom-color: #391C73;
    border-bottom-style: solid;
    box-shadow: 0px 2px 5px 0px #391C73;

}
.purplestrip h1 {
    position: relative;
    top: -130px;
    left: 150px;
    font-size: 30px;
}
.purplestrip h2 {
    position: relative;
    font-size: 20px;
    top: -150px;
    left: 150px;
}
#w-Logo img {
    position: relative;
    top: -20px;
    width: 150px;
}

header {
    background-color: #4B2E83;
    color: white;
    height: 90px;
    padding-top: 22px;
    padding-bottom: 5em;
    padding-left: 1em;
    border-bottom: 5px;
    border-bottom-color: #391C73;
    border-bottom-style: solid;
    /*box-shadow: 0px 0px 10px 0px #391C73;*/

}

article {
    background-color: white;
    color: black;
    opacity: 0.95;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    font-family:'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 300;
}

main {
    padding: 1em;
}


header h1 {
    font-size: 45px;
}


footer {
    padding-top: 1em;
    padding-right: 1em;
    text-align: right;
    background-color: #4B2E83;
    color: white;
    bottom: 0;
    height: 50px;
    padding-bottom: 60px;
}


/* for the nav bar */
#nav {
    background-color: #E9E9E9;
}


#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}

#nav ul li {
    display: inline-block;
}


#nav ul li:hover {
    background-color: white;
    color: #F2F2F2;
}

#nav ul li a,visited {
    color: #6700A3;
    display: block;
    padding: 15px;
    text-decoration: none;
}

#nav ul li a:hover {
    color: #b7a57a;
    background-color: white;
    text-decoration: none;
}

#nav ul li:hover ul {
    display: block;
}

#nav ul ul {
    display: none;
    position: absolute;
}

#nav ul ul li{
    display: block;
    background-color: white;

}

#nav ul ul li:hover{
    background-color: white;

}

#nav ul li ul {
    border-top: 5px;
    border-top-color: #391C73;
    border-top-style: solid; 
}