@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

li {
    list-style: none;
}

#map {
    height: 1000px;
}

.purplestrip {
    background-color: #4B2E83;
    color: white;
    height: 90px;
    padding-top: 22px;
    padding-bottom: 5em;
    padding-left: 1em;
    border-bottom: 5px;
    border-bottom-color: #391C73;
    border-bottom-style: solid;
    box-shadow: 0px 2px 5px 0px #391C73;

}

.purplestrip h1 {
    position: relative;
    top: -130px;
    left: 150px;
    font-size: 30px;
}

.purplestrip h2 {
    position: relative;
    font-size: 20px;
    top: -150px;
    left: 150px;
}

#w-Logo img {
    position: relative;
    top: -20px;
    width: 150px;
}



@media (max-width: 760px) {
    header {    
        position: relative;
    }

    body {
        background-image: none;
    }

    nav {
        position: absolute;
        top: 20px;
        right: 20px;
    }
    
    .purplestrip {
        display: inline;
    }

    .purplestrip h1 {
        display: inline;
    }
    .purplestrip h2 {
        display: inline;
    }

}