@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

li {
    list-style: none;
}
 
.container-fluid {
	padding-left: 0;
	padding-right: 
}

#mapContainer {
    padding: 2em;

}

#map {
    width: 100%;
}

.contact, .Office-Hours, .Program-Hours{
    padding: 2em;
    padding-bottom: 5em;
}


@media (max-width: 991px) {
    #googleMap {
        display: none;
    }

}